{% extends "employee_register/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{form.title|as_crispy_field}}
    <div class="row">
        <div class="col-md-4">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Kirim</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'employee_insert' %}" class="btn btn-danger btn-block btn-lg"><i class="fas fa-plus"></i> Tambah Karyawan </a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'employee_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Data Karyawan
            </a>
        </div>
    </div>
</form>
<br>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Posisi</td>
        </tr>
    </thead>
    <tbody>
        {% for position in position_list %}
            <tr>
                <td>{{position.title}}</td>
                <td>
                    {% comment %} <a href="{% url 'employee_update' employee.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a> {% endcomment %}
                    <form action="{% url 'position_delete' position.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}